<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bikes</title>
</head>
<body>
  <h1>All da bikes</h1>
  <% if (bikes) { %>
    <ul>
      <% for (const key in bikes) { %>
        <li>
          <span><%= key %>: <%= bikes[key] %></span>
          <form method="POST" action="/bikes/<%= key %>/delete">
            <button type="submit">Delete Bike</button>
          </form>
        </li>
      <% } %>
    </ul>
  <% } %>
</body>
</html>
