<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Bike</title>
</head>
<body>
  <h1>Create a new bike!!!</h1>
  <form method="POST" action="/bikes">
    <label for="new-bike">New Bike Name</label>
    <input type="text" id="new-bike" name="newBike" />
    <br/>
    <button type="submit">Create New Bike</button>
  </form>
</body>
</html>
